<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admission-Report</title>
  </head>
  <body>
  <h1>Admission Report Page : 2024-25</h1>
  <table border="1">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Fathername</th>
      <th>Classname</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
    <tr>
        {% for s in allstudents %}
        <td>{{s.id}}</td>
        <td>{{s.name}}</td>
        <td>{{s.fathername}}</td>
        <td>{{s.classname}}</td>
        <td>{{s.contact}}</td>
        <td>
        <a href="/ad/delete/{{s.id}}">delete</a>
          <a href="/ad/update/{{s.id}}">update</a>
        </td>
    <tr/>
      {% endfor %}
</table>
  </body>
</html>
