<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Teachers-Report</title>
  </head>
  <body>
  <h1>Teachers Report Page : 2024-25</h1>
  <table border="1">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Exp</th>
      <th>Subject</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
    <tr>
        {% for s in teacher_list %}
        <td><a href="/ad/getteacher/{{s.id}}" >{{s.id}} </a></td>
        <td>{{s.name}}</td>
        <td>{{s.exp}}</td>
        <td>{{s.subject}}</td>
        <td>{{s.contact}}</td>
        <td>
        <a href="/ad/deleteteacher/{{s.id}}">delete</a>
          <a href="/ad/updateteacher/{{s.id}}">update</a>
        </td>
    <tr/>
      {% endfor %}
</table>
  </body>
</html>
